In [1]:
%reset -f

In [2]:
%connect_info

{
  "shell_port": 39639,
  "iopub_port": 44871,
  "stdin_port": 50157,
  "control_port": 48437,
  "hb_port": 32935,
  "ip": "127.0.0.1",
  "key": "0e95fa80-5f19c9630ad6e00b7c8c090f",
  "transport": "tcp",
  "signature_scheme": "hmac-sha256",
  "kernel_name": ""
}

Paste the above JSON into a file, and connect with:
    $> jupyter <app> --existing <file>
or, if you are local, you can connect with just:
    $> jupyter <app> --existing kernel-c5551a8b-a731-4104-a19f-e272ac423690.json
or even just:
    $> jupyter <app> --existing
if this is the most recent Jupyter kernel you have started.

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import itertools

In [4]:
path_base = "/home/trix_arch/IIVspace/DataSc/"+\
            "DataCamp2021/DSR_B28_work/DSR28_portfolio_project/"+\
            "Measurements_n_Tests/GGS_arduino_readings/GGSv2I_complete/"
path_add = "run2_tests/"
filename_to_load = "coffee_1_room_D_20211220_141105.csv"


Xdf = pd.read_csv(path_base + path_add + filename_to_load, 
                 dtype={'time_ms': np.int64,
                        'B102NO2': np.float32,
                        'B302C2H5OH': np.float32,
                        'B502VOC': np.float32,
                        'B702CO': np.float32,
                        'TdegC': np.float32,
                        'RH': np.float32,
                        'label': 'str',
                        'add_label': 'str',
                        'condition': 'str'
                       })

In [5]:
Xdf

      time_ms  B102NO2  B302C2H5OH  B502VOC  B702CO  TdegC    RH
0        1565    194.0        55.0    138.0   139.0   27.0  34.0
1        2569    196.0        55.0    138.0   139.0   27.0  34.0
2        3573    199.0        56.0    137.0   140.0   27.0  34.0
3        4576    201.0        56.0    138.0   140.0   27.0  34.0
4        5579    203.0        55.0    138.0   140.0   27.0  34.0
...       ...      ...         ...      ...     ...    ...   ...
1296  1312571    429.0       202.0    434.0   212.0   29.0  24.0
1297  1313574    429.0       202.0    433.0   211.0   29.0  24.0
1298  1314578    429.0       203.0    434.0   211.0   29.0  24.0
1299  1315581    429.0       202.0    433.0   211.0   29.0  25.0
1300  1316584    430.0       202.0    434.0   211.0   29.0  25.0

[1301 rows x 7 columns]

In [7]:
# Xdf.label.unique().tolist()

In [ ]:
# Xdf["label_label"] = Xdf[["label","add_label"]]\
#                         .agg("_".join, axis=1)\
#                         .replace("[0-9]", "", regex=True)

In [8]:
Xdf.sample()

     time_ms  B102NO2  B302C2H5OH  B502VOC  B702CO  TdegC    RH
600   607891    443.0       190.0    396.0   209.0   29.0  26.0

In [ ]:


labels = Xdf.label_label.unique().tolist()
conditions = Xdf.condition.unique().tolist()
figure_scale = 1 # <=== parameter to tune
plt.figure(figsize=(figure_scale*15, figure_scale*len(labels)*4))
plot_c = 0

for label_c in labels:
    for condition_c in conditions:
        Xplot = Xdf.loc[
            (Xdf.label_label==label_c) & (Xdf.condition==condition_c),
            :]
        plot_c += 1
        plt.subplot(len(labels), len(conditions), plot_c)
        plt.plot(Xplot.time_ms, Xplot.iloc[:,1:7])
        plt.legend(Xplot.iloc[:,1:7].columns.to_list())
        plt.title(" ".join([label_c, condition_c]), color="red")
        plt.tick_params(axis='x', colors='red')
        plt.tick_params(axis='y', colors='red')
        plt.grid()