In [7]:
%reset -f

In [8]:
%connect_info

{
  "shell_port": 42455,
  "iopub_port": 45495,
  "stdin_port": 54771,
  "control_port": 35703,
  "hb_port": 42839,
  "ip": "127.0.0.1",
  "key": "d04a717d-02b411e7cd1569d92876bb35",
  "transport": "tcp",
  "signature_scheme": "hmac-sha256",
  "kernel_name": ""
}

Paste the above JSON into a file, and connect with:
    $> jupyter <app> --existing <file>
or, if you are local, you can connect with just:
    $> jupyter <app> --existing kernel-a89846b5-f17b-4cda-b241-596c7b28f24d.json
or even just:
    $> jupyter <app> --existing
if this is the most recent Jupyter kernel you have started.

In [9]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import itertools

In [10]:
dir_data = "run5_fordemo/"
path_base = "/home/trix_arch/IIVspace/DataSc/"+\
            "DataCamp2021/DSR_B28_work/DSR28_portfolio_project/"+\
            "Measurements_n_Tests/GGS_arduino_readings/GGSv2I_complete/"
pathW = path_base + dir_data
os.chdir(pathW)
os.getcwd()

files_list = os.listdir(pathW)
files_list.sort()

In [11]:
files_list

['beer_1_roomoffice_20211221_103219.csv',
 'beer_2_roomoffice_20211221_110730.csv',
 'beer_3_roomlecture_20211221_115234.csv',
 'coffee_1_roomoffice_20211221_100825.csv',
 'coffee_2_roomoffice_20211221_104426.csv',
 'coffee_3_roomlecture_20211221_112519.csv',
 'orange_1_roomoffice_20211221_101954.csv',
 'orange_2_roomoffice_20211221_105552.csv',
 'orange_3_roomlecture_20211221_113846.csv']

In [12]:
Xdf = pd.DataFrame([], columns=["time_ms", 
                                "B102NO2", "B302C2H5OH", "B502VOC", "B702CO", 
                                "TdegC", "RH", 
                                "label", "add_label", "condition"])

for fileN in files_list:
    file_info = fileN.split("_")
    label_c = file_info[0]
    add_label_c = file_info[1]
    condition_c = file_info[2]
    
    df_c = pd.read_csv(fileN)
    
    feature_add_dict = {
        "label": label_c,
        "add_label": add_label_c,
        "condition": condition_c,
    } 
    df_c_upd = pd.concat([df_c, pd.DataFrame(feature_add_dict, index=df_c.index)], axis=1)
    Xdf = pd.concat([Xdf, df_c_upd], axis=0)

In [13]:
filename_to_save = "xdf_20211221_run5.csv"
path_add = "df_data/"
Xdf.to_csv(path_base + path_add + filename_to_save, index=False)

In [14]:
Xdf

,time_ms,B102NO2,B302C2H5OH,B502VOC,B702CO,TdegC,RH,label,add_label,condition
0,15,549,153,514,318,25,34,beer,1,roomoffice
1,16,548,154,515,318,25,34,beer,1,roomoffice
2,16,549,153,515,319,25,34,beer,1,roomoffice
3,16,549,154,515,318,25,34,beer,1,roomoffice
4,17,549,154,515,319,25,34,beer,1,roomoffice
...,...,...,...,...,...,...,...,...,...,...
2395,315040,900,360,800,345,27,32,orange,3,roomlecture
2396,315171,900,360,801,345,27,32,orange,3,roomlecture
2397,315302,899,361,802,346,27,32,orange,3,roomlecture
2398,315433,900,360,801,345,27,32,orange,3,roomlecture
2399,315560,900,361,801,345,27,32,orange,3,roomlecture